<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logostartmain"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logostartmain"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mobile"
        android:forceDarkAllowed="false"
        tools:targetApi="31">

        <uses-library
            android:name="org.osmdroid"
            android:required="false" />

        <meta-data
            android:name="vn.merchant_id"
            android:value="YOUR_MERCHANT_ID" />
        <meta-data
            android:name="vn.secret_key"
            android:value="YOUR_SECRET_KEY" />
        <meta-data
            android:name="vn.terminal_id"
            android:value="YOUR_TERMINAL_ID" />

        <activity
            android:name=".View.ApproveOrderActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.ApproveActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.OrderActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.ThankYouDialogFragment"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.ClubMapsFragment"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.AddressP"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewModel.ProductOrderAdapter"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.OrderDetailFragment"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.HistoryRegisterClass"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.activity_teacher_checkin"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.FragmentWriteReviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.NewsDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.UpdateInfoMember"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.UpdatePassword"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewModel.SupplierAdapter"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.SupplierActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.ResetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Belt_Payment"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Register_belt"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Purchase"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewModel.ItemSupplierProductAdapter"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.SupplierProductActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewModel.ArticleAdapter"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewModel.ReviewAdapter"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.ReviewActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.SupplierInfoActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.activity_item_detail"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.activity_items"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.CartActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.EnterOtpActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.SignupActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.activity_member_checkin"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.ActivityDetailTeacher"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.ActivityDetailMember"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.ViewImageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.ActivityReplaceCamera"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.ImageSelectActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.profiletest"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.ActivityNews"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.PaymentQR"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.payment"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.RegisterClass"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.MenuActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.ClassActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.DetailClassActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.DetailClubActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.AboutActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.ClubActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.activity_checkin"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.MyClassActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.activity_item_chapter"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.activity_chapters"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.activity_lessons"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.StartActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>